body {
  height: 100%;
  width: 100%;
  background-color: #dfe6e9;
}

div {
  padding: 0.5em 1em;
  background-color: white;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #d63031;
}

#recent-items {
  padding: 0.5em 1.5em;
  border-left: 1px solid #d63031;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #636e72;
}

span.category {
  color: #e17055;
  font-style: italic;
}