{% extends "dual-layout.html" %}
{% block sidebar %}
<h2>Categories</h2>
<ul>
  {% for category in categories %}
  <li>
    <h5><a href="{{url_for('show_specific_categoryname', categoryname=category.name)}}">{{category.name}}</a></h5>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block maincontent %}
<h2>{{category.name}} Items ({{items|length}} items)</h2>
<ul>
  {% for item in items %}
  <li>
    <h5><a href="{{url_for('show_specific_item_page', categoryname=category.name, itemname=item.name)}}">{{item.name}}</a></h5>
  </li>
  {% endfor %}
</ul>
{% endblock %}
