{% extends "dual-layout.html" %}
{% block sidebar %}
<h2>Categories</h2>
<ul>
  {% for category in categories %}
  <li>
    <h5><a href="{{url_for('show_specific_categoryname', categoryname=category.name)}}">{{category.name}}</a></h5>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block maincontent %}
<h2>Most Recent Items</h2>
<ul>
    {% for item in items %}
    <li>
        <h5>
            <a href="{{url_for('show_specific_item_page', categoryname=item.category.name, itemname=item.name)}}">{{item.name}}</a> -- <span class="category">({{item.category.name}})</span>
        </h5>
    </li>
    {% endfor %}
</ul>
{% if current_user.is_authenticated %}
<a class="btn btn-outline-success" href="{{url_for('add_item')}}">Add item</a>
{% endif %}
{% endblock %}